.portfolio-entry {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.entry-image {
  flex-grow: 1;
  width: 100%;
  display: block;
}

.entry-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
